ACTION=="bind", SUBSYSTEM=="hid", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5750", ENV{abc}="$id:1.0", RUN+="/bin/sh -c 'tmpx=$devpath; echo $tmpx | sed s/[^\/]*$// | sed s/[\/]*$// | sed \"s/.*\///\" > /sys/bus/usb/drivers/usbhid/unbind; echo 0483 5750 > /sys/bus/usb/drivers/stm32_hid_driver/new_id'"
